.container{
    display:flex;
    flex-direction: column;
    overflow: hidden;
    background: radial-gradient(circle, rgb(165, 218, 219) 30%, rgb(127, 175, 238) 65%);
    flex-wrap: nowrap;
    justify-content:center;
    width: auto;
    line-height: 30px;
    padding: 5%;
    
}
   
    body{
        background-color:whitesmoke;
    }
    h1{
        font-size: 22px;
    }

/* .upperBox{
    display: flex;
    flex-direction: row;
    justify-content:center;
} */

.upperBox{
    display: flex;
    flex-direction: column;
    justify-content:center;
}
input{
    background-color: silver;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-style: italic;
    width: auto;
    
}
input[type="date"]::-webkit-calendar-picker-indicator{
    color: black;
    background-color: aquamarine;
    padding: 5px;
    border-radius: 15px;
}
.box{
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 1.5%;
    background-color: black;
    color: white;
    margin-left: 5%;
    margin-right: 5%;
    font-style: italic;
    font-size: medium;
}
.box-1{
    margin-top: 10px;
}
.lowerBox{
    justify-content: center;
    width: auto;
    
}
.upperBox, .lowerBox{
    
    margin-left:30px;
    margin-right: 30px;
    padding: 1%;
    text-align: center;
    width:auto;
    justify-content: center;
}
h1{
    color: #f1f1f1;
    text-align: center;
    margin-top: 50px;
    font-style: oblique;
    font-size: 30px;
}
body{
    background-color:rgb(0, 0, 0);
    justify-content: center;
    padding-left: 30%;
    padding-right: 30%;
}
*{
    border-radius: 40px;
    font-family:Arial, Helvetica, sans-serif;
}
#myButton{
    border-radius: 5px;
    background-color: black;
    color: #f1f1f1;
    border: 1px solid white;
    width: 200px;
    height: 50px;
    border-radius: 30px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 25px;
    font-style: italic;
}
#result{
    /* background-color: black; */
    color: #000000;
    font-weight: bold;
    font-size: 20px;
    padding-left: 10px;
    padding-right:10px;
    font-style: italic;
}

@media all and (max-width: 500px)
{
    body{
        background-color: cyan;

    } 

}